.circle {
}

.item {
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
}

.item::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: #344;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 6.5px;
}

.active {
	font-size: 20px;
}
